extends layout

block content
  .main-wrapper
    .left-content-wrapper
      .inner-wrapper
        .box.box1 Let's start with a range of numbers
        .box.box2 Select a range between 1 and 1,000,000
        .box.box3
          input(type="number" name="start" min="1" max="1000000" placeholder=1)
          | to
          input(type="number" name="end" min="1" max="1000000" placeholder=123)
        .box.box4 Now Select one letter of the alphabet
        .box.box5
          input(type="text" name="letter" maxlength="1")
        .box.box6 one last thing
    .right-content-wrapper
      .right-inner-wrapper
        .box-right
        .box-right
        .box-right
        .box-right
