doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/styles.css')
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Advent+Pro:300|Bubbler+One|Exo:200|Khula:300")
  body
    block content
